#gameBoard {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}

.tries {
  text-align: center;
  margin-top: 20px;
}


.board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
  margin-top: 20px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  display: none;        
}

.card.flipped img {
  display: block;     
}

